name: Best Practices Tests

on:
  schedule:
    - cron: '35 22 * * *'
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '**/best-practice/**'
      - 'pom.*'
  pull_request:
    paths:
      - '**/best-practice/**'
      - 'pom.*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Run tests
        continue-on-error: true
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
          SCREENER_API_KEY: ${{ secrets.SCREENER_API_KEY }}
        run: mvn test -pl best-practice
