name: Playwright Example

on:
  schedule:
    - cron: '50 21 * * *'
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '**/playwright-examples/**'
      - 'pom.*'
  pull_request:
    paths:
      - '**/playwright-examples/**'
      - 'pom.*'

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: "temurin"
      - uses: axel-op/googlejavaformat-action@v4
        with:
          args: "--replace"
          files: "playwright-examples/**/*.java"
          skip-commit: true
      - name: Print diffs
        if: success() || failure()
        run: git --no-pager diff --exit-code

  standalone:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: 11
          distribution: "temurin"
      - name: Example
        working-directory: ./playwright-examples
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        run: mvn test -Dtest=StandaloneTest -Dsurefire.parallel=1

  suite:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browser: [ Chrome, MicrosoftEdge ]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: 11
          distribution: "temurin"
      - name: Example
        working-directory: ./playwright-examples
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        run: mvn test -Dsauce.browser.name=${{ matrix.browser }}
