name: Real Devices

on:
  schedule:
    - cron: '35 20 * * *'
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '**/appium/**'
      - 'pom.*'
  pull_request:
    paths:
      - '**/appium/**'
      - 'pom.*'

env:
  SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
  SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: RDC Native App Android
        run: mvn test -pl appium/appium-app/appium-app-examples -Dtest=AndroidNativeAppTest -Dregion=eu
      - name: RDC Native App IOS
        run: mvn test -pl appium/appium-app/appium-app-examples  -Dtest=IOSNativeAppTest -Dregion=eu
