# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: TestNg Tests

on:
  push:
    # Only trigger if files in this path changed
    paths:
      - 'selenium-testng-examples/**'
      # Don't run on Markdown changes
      - '!**.md'
    branches: [ master ]
  pull_request:
    # Only trigger if files in this path changed
    paths:
      - 'selenium-testng-examples/**'
      # Don't run on Markdown changes
      - '!**.md'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Run testng tests
      env:
        SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
        SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
      run: mvn test -pl selenium-testng-examples -X
